<div class='footer'>
  <div class='footer-contents'>
    <div class='movie-details'>
      <h2 class='footer-content-head'>FURIMAを見る</h2>
      <ul>
        <li><%= link_to 'カテゴリー一覧', "#", class: "footer-link" %></li>
      </ul>
    </div>
    <div class='movie-details'>
      <h2 class='footer-content-head'>FURIMAについて</h2>
      <ul>
        <li><%= link_to 'お知らせ', "#", class: "footer-link" %></li>
      </ul>
    </div>
  </div>
  <%#= link_to image_tag("furima-logo-white.png", class:"logo-white"), "#" %>
  <p>© MOVARITE</p>
</div>